In [105]:
#!pip install --upgrades pandas

In [106]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [107]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
Meteorite_Landings.csv	test.json     test.pkl	 text.csv
test.hdf		test.parquet  test.xlsx

In [108]:
import pandas as pd
pd.__version__

'1.1.5'

In [109]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')
df_meteorites.head(10) #Muestra los primeros 10 datos

                  name   id nametype  ... reclat  reclong           GeoLocation
0               Aachen    1    Valid  ...   50.8      6.1     (50.775, 6.08333)
1               Aarhus    2    Valid  ...   56.2     10.2  (56.18333, 10.23333)
2                 Abee    6    Valid  ...   54.2   -113.0    (54.21667, -113.0)
3             Acapulco   10    Valid  ...   16.9    -99.9     (16.88333, -99.9)
4              Achiras  370    Valid  ...  -33.2    -65.0   (-33.16667, -64.95)
5             Adhi Kot  379    Valid  ...   32.1     71.8          (32.1, 71.8)
6  Adzhi-Bogdo (stone)  390    Valid  ...   44.8     95.2  (44.83333, 95.16667)
7                 Agen  392    Valid  ...   44.2      0.6   (44.21667, 0.61667)
8               Aguada  398    Valid  ...  -31.6    -65.2    (-31.6, -65.23333)
9        Aguila Blanca  417    Valid  ...  -30.9    -64.5   (-30.86667, -64.55)

[10 rows x 10 columns]

In [110]:
df_meteorites.tail() #Muestra los ultimos 10 datos

             name     id nametype  ... reclat  reclong             GeoLocation
45711  Zillah 002  31356    Valid  ...   29.0     17.0       (29.037, 17.0185)
45712      Zinder  30409    Valid  ...   13.8      9.0     (13.78333, 8.96667)
45713        Zlin  30410    Valid  ...   49.2     17.7       (49.25, 17.66667)
45714   Zubkovsky  31357    Valid  ...   49.8     41.5     (49.78917, 41.5046)
45715  Zulu Queen  30414    Valid  ...   34.0   -115.7  (33.98333, -115.68333)

[5 rows x 10 columns]

In [111]:
df_meteorites.sample(10) #Muestra 10 datos aleatorios

                              name     id  ... reclong             GeoLocation
35354  Queen Alexandra Range 99726  22172  ...   168.0          (-84.0, 168.0)
28035        Northwest Africa 3113  31241  ...     nan                     NaN
17920        LaPaz Icefield 031218  34948  ...     nan                     NaN
40269                Yamato 791041  26390  ...    35.7       (-71.5, 35.66667)
40966                Yamato 791770  27119  ...    35.7       (-71.5, 35.66667)
19822            Lewis Cliff 85380  12849  ...   161.3  (-84.27741, 161.34874)
18851         LaPaz Icefield 04723  46173  ...     nan                     NaN
5737               Dar al Gani 023   5539  ...    16.0     (27.09767, 16.0255)
43167                 Yamato 86399  29905  ...    35.7       (-71.5, 35.66667)
13565       Grove Mountains 020127  46692  ...    75.3    (-72.98056, 75.2625)

[10 rows x 10 columns]

In [112]:
df_meteorites.shape #(filas, columnas)

(45716, 10)

In [113]:
df_meteorites.size #Datos almacenados (registros) filas*columnas

457160

In [114]:
df_meteorites.describe() #Informacion estadistica de los datos numericos

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

In [115]:
pd.options.display.float_format = '{:,.1f}'.format #Formato para numero de decimales en datos del DataF

In [116]:
 df_meteorites.describe(include='all')

          name       id nametype  ...   reclat  reclong GeoLocation
count    45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique   45716      nan        2  ...      nan      nan       17100
top     Haverö      nan    Valid  ...      nan      nan  (0.0, 0.0)
freq         1      nan    45641  ...      nan      nan        6214
mean       NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std        NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min        NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%        NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%        NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%        NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max        NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [117]:
df_meteorites.info() #Muestra informacion de los datos almacenados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [118]:
df_meteorites.dtypes #Muestra el tipo de las variables

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [119]:
df_meteorites.convert_dtypes().dtypes #Transforma los tipos de datos para ser más manejable

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

In [120]:
df_meteorites.nunique() #Encuentara las categorías disponibles en cada columna

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [121]:
df_meteorites[['fall','nametype']] #Muestra los tipos de categorias para una columna específica

        fall nametype
0       Fell    Valid
1       Fell    Valid
2       Fell    Valid
3       Fell    Valid
4       Fell    Valid
...      ...      ...
45711  Found    Valid
45712  Found    Valid
45713  Found    Valid
45714  Found    Valid
45715  Found    Valid

[45716 rows x 2 columns]

In [122]:
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')
#Cambia el tipo de dato de las columnas escogidas
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [123]:
df_meteorites['fall'].nunique()

2

In [124]:
df_meteorites['fall'].value_counts() #Muestra la cantidad de veces que se repite los valores

Found    44609
Fell      1107
Name: fall, dtype: int64

In [125]:
pd.get_dummies(df_meteorites['fall']) #Se crea las variables en dummies, se cambia a valores numéricos

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [126]:
df_meteorites['ones'] = 1 #Crea una columna con unos
df_meteorites

             name     id nametype  ... reclong             GeoLocation ones
0          Aachen      1    Valid  ...     6.1       (50.775, 6.08333)    1
1          Aarhus      2    Valid  ...    10.2    (56.18333, 10.23333)    1
2            Abee      6    Valid  ...  -113.0      (54.21667, -113.0)    1
3        Acapulco     10    Valid  ...   -99.9       (16.88333, -99.9)    1
4         Achiras    370    Valid  ...   -65.0     (-33.16667, -64.95)    1
...           ...    ...      ...  ...     ...                     ...  ...
45711  Zillah 002  31356    Valid  ...    17.0       (29.037, 17.0185)    1
45712      Zinder  30409    Valid  ...     9.0     (13.78333, 8.96667)    1
45713        Zlin  30410    Valid  ...    17.7       (49.25, 17.66667)    1
45714   Zubkovsky  31357    Valid  ...    41.5     (49.78917, 41.5046)    1
45715  Zulu Queen  30414    Valid  ...  -115.7  (33.98333, -115.68333)    1

[45716 rows x 11 columns]

In [127]:
df_meteorites[['fell','found']] = pd.get_dummies(df_meteorites['fall']) #creación de columnas con dummies
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [128]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [129]:
pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
) #Da formato a la fecha (Esto no modifica la tabla)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [130]:
df_meteorites['year'] = pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
) #Da formato a la fecha (Esto sí modifica la tabla)
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [131]:
df_meteorites.convert_dtypes().dtypes #Verificacion de tipo de datos

name                   string
id                      Int64
nametype             category
recclass               string
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            string
ones                    Int64
fell                    UInt8
found                   UInt8
dtype: object

In [132]:
df_meteorites.rename(columns={'mass (g)':'mass'}, inplace = True)
#Renombrar una columna; inplace hace que SÍ se modifique en la tabla
df_meteorites

             name     id nametype  ... ones  fell found
0          Aachen      1    Valid  ...    1     1     0
1          Aarhus      2    Valid  ...    1     1     0
2            Abee      6    Valid  ...    1     1     0
3        Acapulco     10    Valid  ...    1     1     0
4         Achiras    370    Valid  ...    1     1     0
...           ...    ...      ...  ...  ...   ...   ...
45711  Zillah 002  31356    Valid  ...    1     0     1
45712      Zinder  30409    Valid  ...    1     0     1
45713        Zlin  30410    Valid  ...    1     0     1
45714   Zubkovsky  31357    Valid  ...    1     0     1
45715  Zulu Queen  30414    Valid  ...    1     0     1

[45716 rows x 13 columns]

In [133]:
list(df_meteorites) #Muestra los nombres de las columnas

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'ones',
 'fell',
 'found']

In [134]:
df_meteorites.drop(['ones'], axis = 1, inplace=True) #Se elimina la columna llamada "ones", para confirmar se agrega inplace
df_meteorites

             name     id nametype  ...             GeoLocation  fell found
0          Aachen      1    Valid  ...       (50.775, 6.08333)     1     0
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)     1     0
2            Abee      6    Valid  ...      (54.21667, -113.0)     1     0
3        Acapulco     10    Valid  ...       (16.88333, -99.9)     1     0
4         Achiras    370    Valid  ...     (-33.16667, -64.95)     1     0
...           ...    ...      ...  ...                     ...   ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)     0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)     0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)     0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)     0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)     0     1

[45716 rows x 12 columns]

In [136]:
df_meteorites.drop([0, 2, 4, 6]).head(5) #Eliminación de filas

       name   id nametype  ...           GeoLocation  fell found
1    Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
3  Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
5  Adhi Kot  379    Valid  ...          (32.1, 71.8)     1     0
7      Agen  392    Valid  ...   (44.21667, 0.61667)     1     0
8    Aguada  398    Valid  ...    (-31.6, -65.23333)     1     0

[5 rows x 12 columns]

In [138]:
df_meteorites.drop(columns=['id','recclass'], index=[0, 2, 4, 6]) #Elimina filas y columnas; se puede usar inplace

             name nametype     mass  ...             GeoLocation fell  found
1          Aarhus    Valid    720.0  ...    (56.18333, 10.23333)    1      0
3        Acapulco    Valid  1,914.0  ...       (16.88333, -99.9)    1      0
5        Adhi Kot    Valid  4,239.0  ...            (32.1, 71.8)    1      0
7            Agen    Valid 30,000.0  ...     (44.21667, 0.61667)    1      0
8          Aguada    Valid  1,620.0  ...      (-31.6, -65.23333)    1      0
...           ...      ...      ...  ...                     ...  ...    ...
45711  Zillah 002    Valid    172.0  ...       (29.037, 17.0185)    0      1
45712      Zinder    Valid     46.0  ...     (13.78333, 8.96667)    0      1
45713        Zlin    Valid      3.3  ...       (49.25, 17.66667)    0      1
45714   Zubkovsky    Valid  2,167.0  ...     (49.78917, 41.5046)    0      1
45715  Zulu Queen    Valid    200.0  ...  (33.98333, -115.68333)    0      1

[45712 rows x 10 columns]

In [140]:
df = df_meteorites.copy(deep=True) #Se realiza una copia
#Es importante agregar deep=True para que se copie todos los elementos y no solo como referencia a la
#original; si no cada cambio realizado en el original se verá reflejado en la copia
df

             name     id nametype  ...             GeoLocation  fell found
0          Aachen      1    Valid  ...       (50.775, 6.08333)     1     0
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)     1     0
2            Abee      6    Valid  ...      (54.21667, -113.0)     1     0
3        Acapulco     10    Valid  ...       (16.88333, -99.9)     1     0
4         Achiras    370    Valid  ...     (-33.16667, -64.95)     1     0
...           ...    ...      ...  ...                     ...   ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)     0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)     0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)     0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)     0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)     0     1

[45716 rows x 12 columns]